@page "/"


@*<div class="encabezado mx-auto w-100">
    <div></div>
</div>
*@

<div class="eventos">

    <div class="tarjeta mx-auto rounded shadow">
        <div class="htarjeta text-center pt-3 d-flex">
            <div class="w-50 text-right">
                <h4 class="text-light">Titulo evento</h4>
            </div>
            <div class="w-50 text-end pe-5">
                <i class="bi bi-8-circle-fill bi-text-right"></i>
            </div>
        </div>
    </div>
</div>


@code{

}