@inherits LayoutComponentBase
@inject NavigationManager _navegar
<div class="page">

    @if (_navegar.ToBaseRelativePath(_navegar.Uri).ToUpper() != "LOGIN" && _navegar.ToBaseRelativePath(_navegar.Uri).ToUpper() != "REGISTER")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>

        <article class="">
            @Body
        </article>
    </main>
</div>
